*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family:  tahoma, sans-serif;
}
:root{
   --color1: #747f8a;
   --color2: #545454;
   --color3: #009e76;
   --color4: white;
   --color5: #3F3F3F;
   --color6: #3751fe;
   --color7: #e62d4f;
}

body{
   background-image: linear-gradient(120deg,#84fab0 0%,#8fd3f4 100%);
}
main {
   width: 70vw;
   height: 550px;
   margin: 40px auto;
   border-radius: 12px;
   display: flex;
   position: relative;
   box-shadow: 2px 6px 10px rgb(71, 93, 73);
}
main section{
   transition: 0.2s ease-in-out;
}
main section:nth-child(1) {
   width: 20% !important;
   background-color: var(--color4);
}
main section:nth-child(2) {
   width: 80% ;
}
main section:nth-child(1) div img{
   width: 100px;
   height: auto;
   background-color: #009e76;
   padding: 15px;
   border-radius: 50px;
   display: block;
   margin: 12px auto;
}
.section-1 div:nth-child(1){
   text-align: center;
}
.section-1 div:nth-child(1) p{
   color: var(--color6);
}
.section-1 div:nth-child(2){
   background-color: var(--color7);
   width: 80%;
   height: 30px;
   margin: 15px auto !important;
   padding-top: 3px;
   border-radius: 6px;
   text-align: center;
   font-size: 20px;
   color: var(--color4);
   cursor: grab;
}
.section-1 div:nth-child(2):hover {
   background-color: var(--color6);
}


main section:nth-child(2) {
   display: grid;
   grid-template-rows: 10% 80% 10%;
}
input{
   caret-color: var(--color7);
   padding-left: 10px !important;
}
#section-2 div:nth-child(1){
   background-color: var(--color4);
   margin-left: 1px;
}
#section-2 div:nth-child(3) {
   background-color: var(--color4);
   margin-left: 1px;
}
.section-1 div:nth-child(3) ul{
   margin-top: 40px;
}
.section-1 div:nth-child(3) ul li{
   list-style: none;
   padding: 8px 20px;
   transition: 0.3s ease-in-out;
}
.section-1 div:nth-child(3) ul li:hover{
   background-color: var(--color6);
   color: white !important;
}
.section-1 div:nth-child(3) ul li a{
   text-decoration: none;
   color: black;
}

.section-1 div:nth-child(3) ul li i{
   font-size: 22px;
   color: var(--color3);
}
.section-1 div:nth-child(3) ul span{
   margin-left: 15px;
}
.nav-bar{
   padding: 5px 10px;
   display: flex;
   justify-content: space-between;
}
.nav-bar div:nth-child(1) {
   width: 50%;
   height: 100%;
   background-image: linear-gradient(120deg,#84fab0 0%,#8fd3f4 100%);
   padding: 7px;
   color: var(--color1);

}
.nav-bar div:nth-child(2) i{
   background-image: linear-gradient(120deg,#84fab0 0%,#8fd3f4 100%);
   font-size: 30px;
   padding: 5px;
   cursor: grab;
} 
::placeholder{
   padding-left: 10px;
   color: grey;
   font-style: italic;
   font-size: 20px;
}
.style-foot{
   width: 100%;
   height: 20%;
}
#container-section {
   margin: 1px;
   max-width: auto;
   overflow-y: auto;
   overflow-x: hidden;
   background-image: linear-gradient(120deg,#84fab0 0%,#8fd3f4 100%);
}
#container-section h1{
   margin-top: 60px;
   color: var(--color6);
   transform: translateX(60px);
}
#container-section h1:nth-child(1){
   margin-top: 20px;
}
#container-section h1::after{
   content: "";
   height: 4px;
   width: 30px;
   background-color: white;
   display: block;
   transform: translate(100px, -16px);
}
#container-section h1::before{
   content: "";
   height: 4px;
   width: 30px;
   background-color: white;
   display: block;
   transform: translate(-40px, 16px);
}
.liste-etud::after{
   transform: translate(230px, -16px) !important;
}
#Billet-entrer-h1::after{
   transform: translate(180px, -16px) !important;
}
#container-1{
   display: flex;
   background-color: transparent;
   justify-content: space-between;
}
#container-1 section {
   width: 33% !important;
   height: 250px;
   background-color: white;
   margin: 5PX;
   border-radius: 6px;
   padding: 5px;
}
#container-1 section:nth-child(3) {
   height: 150px;
}
#container-1 h4{
   color: var(--color3);
   font-size: 16px;
}
#acceuil  div {
   width: 80% !important;
   margin: 12px auto !important;
}
#acceuil div p{
   margin-bottom: 5px;
}
#acceuil div a{
   text-decoration: none;
   color: white;
   background-color: var(--color7);
   padding: 4px 6px;
   border-radius: 8px;
   font-size: 14px;
}
#acceuil div a:hover{
   opacity: 0.8;
}
.meilleur-cours {
   padding: 5px;
}
.meilleur-cours div{
   display: flex;
   flex-wrap: wrap;
   margin: 5px;
}
.meilleur-cours div div{
   background-color: rgba(128, 128, 128, 0.405) !important;
   color: rgb(0, 0, 0);
   flex-basis: 20%;
   text-align: center !important;
   font-size: 14px;
   padding: 2px 5px;
}
.ajout-cours div,.ajout-cours a{
   margin: 5px;
}
.ajout-cours a{
   text-decoration: none;
   color: white;
   background-color: var(--color7);
   padding: 4px 10px;
   border-radius: 8px;
}
#container-2 {
   margin: 5px;
}
#myInput {
   background-image: url('../css/searchicon.png');
   background-position: 10px 10px;
   background-repeat: no-repeat;
   width: 82%;
   font-size: 16px;
   padding: 12px 20px 12px 40px;
   border: 1px solid #ddd;
   margin-bottom: 12px;
   outline: none;
   border-radius: 6px;
 }
 .btn-ajouter{
   background-color: var(--color6);
   padding: 5px 15px;
   color: white;
   border-radius: 6px;
   cursor: grab;
 }
 .btn-ajouter:hover{
   opacity: 0.8;
 }
 #myTable {
   border-collapse: collapse;
   width: 100%;
   border: 1px solid #ddd;
   font-size: 18px;
 }
 
 #myTable th, #myTable td {
   text-align: left;
   padding: 12px;
   color: var(--color3);
   border-radius: 6px;
 }
 #myTable td{
   color: black;
 }
 #myTable tr {
   border-bottom: 1px solid #ddd;
 }
 #myTable i{
   cursor: grab;
   transition: 0.2s ease;
 }
 #myTable i:hover{
   font-size: 20px;
   opacity: 0.7;
 }
 #myTable tr.header, #myTable tr:hover {
   background-color: #f1f1f1;
 }
/*************Billet d'entrée****/
#Billet-entrer{
   display: flex;
   margin: 5px;
   padding: 12px 5px;
   justify-content: space-evenly;
   background-color: white;
   border-radius: 6px;
}
#Billet-entrer td{
   height: 70px;
}
#Billet-entrer input{
   height: 70%;
   border: 1px solid var(--color3);
   border-radius: 6px;
}
#btn-imprimer{
   background-color: var(--color7);
   width: 110px;
   height: 30px;
   border: none;
   color: white;
   font-size: 20px;
   border-radius: 6px;
   transform: translateX(100%);
   cursor: grab;  
   transition: 0.3s ease-in-out;
}
#btn-imprimer:hover{
   box-shadow: 1px 5px 5px gray;
}

/*****COURS*****/
#cours{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   background-color: white !important;
   margin: 5px;
   border-radius: 6px !important;
}
#cours section{
   flex-basis: 50%;
   padding: 10px;
   background-color: white !important;
   border-radius: 6px !important;
}
#cours section:nth-child(1) p{
   width: 30%;
   background-color: var(--color6);
   padding: 4px 10px;
   margin-bottom: 5px;
   color: white;
   border-radius: 4px;
}
#cours section:nth-child(1) p:hover{
   opacity: 0.8;
}
#cours section:nth-child(2) > div{
   display: flex;
   justify-content: space-evenly
}
.txt-video{
   transform: translateY(60px);
}
video{
   border: 2px solid var(--color7);
}
#cours img{
   width: 60px;
   height: 60px;
   border: 2px solid var(--color6);
   border-radius: 50px;
}
::-webkit-scrollbar {
   width: 20px;
 }
 
 /* Track */
 ::-webkit-scrollbar-track {
   box-shadow: inset 0 0 5px grey; 
   border-radius: 10px;
 }
  
 /* Handle */
 ::-webkit-scrollbar-thumb {
   background: white; 
   border-radius: 10px;
 }
 
 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
   background: wheat; 
 }
@media screen and (max-width: 1200px) {
   main{
      width: 100%;
      height: 100vh;
      margin: 0;
   }
   .style-foot{
       height: 32.5%;
   }
}